In [165]:
import pandas as pd
import numpy as np

In [166]:
#BMS
book1 = pd.read_excel('mf_test_1.xlsx')

In [167]:
book1

     Activity  Acc  Amount
0  MFTRANSFER  225   59.61
1  MFTRANSFER  225   21.60
2  MFTRANSFER  225  217.00
3  MFTRANSFER  101  426.00
4  MFTRANSFER  101   69.70

In [168]:
book2 = pd.read_excel('mf_test_2_r.xlsx')

In [169]:
book1

     Activity  Acc  Amount
0  MFTRANSFER  225   59.61
1  MFTRANSFER  225   21.60
2  MFTRANSFER  225  217.00
3  MFTRANSFER  101  426.00
4  MFTRANSFER  101   69.70

In [170]:
book2

     Activity  Acc  Amount
0  MFTRANSFER  225   59.61
1  MFTRANSFER  225   21.60
2  MFTRANSFER  225  300.00
3  MFTRANSFER  101  426.00
4  MFTRANSFER  102   69.70

In [171]:
#data = book1.merge(book2.drop_duplicates(), on=['Name'], how='outer', validate= 'many_to_many', indicator=True)

In [172]:
data = book1.merge(book2, on=['Amount','Acc','Activity'], how='outer',  indicator=True)

In [173]:
data

     Activity  Acc  Amount      _merge
0  MFTRANSFER  225   59.61        both
1  MFTRANSFER  225   21.60        both
2  MFTRANSFER  225  217.00   left_only
3  MFTRANSFER  101  426.00        both
4  MFTRANSFER  101   69.70   left_only
5  MFTRANSFER  225  300.00  right_only
6  MFTRANSFER  102   69.70  right_only

In [174]:
d={"left_only":"Test env", "right_only":"Prod env","both":"both"}
data['_merge'] = data['_merge'].map(d)

In [175]:
missing_data = data.loc[data['_merge'] != 'both']#.set_index('Name')

In [176]:
match_data = data.loc[data['_merge'] == 'both']

In [177]:
match_data

     Activity  Acc  Amount _merge
0  MFTRANSFER  225   59.61   both
1  MFTRANSFER  225   21.60   both
3  MFTRANSFER  101  426.00   both

In [178]:
missing_data

     Activity  Acc  Amount    _merge
2  MFTRANSFER  225   217.0  Test env
4  MFTRANSFER  101    69.7  Test env
5  MFTRANSFER  225   300.0  Prod env
6  MFTRANSFER  102    69.7  Prod env

In [179]:
import plotly.graph_objects as go

fig = go.Figure(data=[go.Bar(
    x=['Data', 'No_Match'],
    y=[book1.shape[0],missing_data.shape[0]],
    width=[0.8, 0.8],
)])
fig.update_traces(marker_line_color='black',
                  marker_line_width=1.5, opacity=0.8,)


fig.update_layout(title_text='Rows', height=400, width = 400)
fig.show()

In [180]:
data_mod = pd.read_excel('Book3.xlsx')

In [181]:
data_mod['Profile'] = data_mod['Profile'].shift(-1)

In [182]:
data_mod.dropna()

  Name  Amount Profile
0  abc   123.0      ff
2  xyz   584.0      gg
4  fgh   842.0      jj
6  jkl   628.0      ii

In [183]:
# data_mod.melt(id_vars=['Profile'], value_vars=['Amount'])